<div class="total-users-container">
    <div class="user-card">
      <div class="card-header">Total Users</div>
      <div class="card-content"><p>{{ totalUsers }}</p></div>
    </div>
  
    <div class="user-card">
      <div class="card-header">Active Users</div>
      <div class="card-content"><p>{{ activeUsers }}</p></div>
    </div>
  
    <div class="user-card">
      <div class="card-header">Inactive Users</div>
      <div class="card-content"><p>{{ inactiveUsers }}</p></div>
    </div>
  </div>
  
